@model E_ticaret_İleri_Seviye_.Models.Cart
@{
    ViewBag.Title = "Index";
}

<div class="container pb-5">
    <div class="row">
        <div class="col-md-12">
            <h2>Shopping Cart</h2>
            <hr />
        </div>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th>Course Name</th>
                    <th>Cost</th>
                </tr>
            </thead>
            <tbody>
                @foreach( var item in Model.CartLines )
                {
                    <tr>
                        <td><img src=@item.Course.CourseImage alt=@item.Course.CourseName width="100"/></td>
                        <td>@item.Course.CourseName</td>
                        <td class="d-lg-flex border-0 justify-content-between">
                            @item.Course.Price.ToString() TL
                            @using( Html.BeginForm("RemoveFromCart" , "ShoppingCart" , FormMethod.Get) )
                            {
                                @Html.Hidden("Id" , item.Course.Id)
                                <button type="submit" class="btn btn-danger">
                                    <i class="fas fa-trash"></i>
                                </button>
                            }
                        </td>
                    </tr>
                }

            </tbody>
            <tfoot>
                <tr>
                    @if( Model.CartLines.Count == 0 )
                    {
                        <td colspan="3" class="text-center">Sepetinizde ürün bulunmamaktadır.</td>
                    }
                    else
                    {
                        <td colspan="2"></td>
                        <td>@Model.TotalCost().ToString("c")</td>
                    }
                </tr>
            </tfoot>
     
        </table>
    </div>
</div>

